torch
torchaudio
torchvision

openai-whisper
faster-whisper
ctranslate2

transformers
datasets
evaluate

vosk

pandas
numpy
scipy
jiwer

tqdm
matplotlib
psutil

soundfile
librosa

openpyxl

silero_vad